<div class="container mt-5">
  <div class="col">
    <h4 style="padding-left: 12px">Hyr skidpaket</h4>
    <!-- Detta används för att visa listan av "packages" först med en ngIf sedan när man väljer paketet (onPackageSelected)
        sätt showList till false och med det döljs alla paket -->
    <ng-container *ngIf="showList">
      <app-my-packages (packageSelected)="onPackageSelected($event)"
        *ngFor="let thePackages of skiPackages" [packages]="thePackages"></app-my-packages>
    </ng-container>

    <ng-container *ngIf="showForm">
      <app-form [packages]="packages" (cancelBooking)="onCancelSelected()"></app-form>
    </ng-container>
  </div>
</div>
