<div class="container mt-5">
    <h4>Hyr skidpaket</h4>
    <!-- Används för att skriva ut allt inom interfacet men endast en gång, genom en "loop" -->
    <app-my-packages *ngFor="let thePackages of skiPackages" [packages]="thePackages"></app-my-packages>
    

    <!--<h4>Hej och välkommen till examination i Frontend del 2!</h4>
    <p>Ersätt innehållet i denna fil med dina komponenter.</p>
    <p>Känns något oklart eller fungerar inte detta mallprojekt? Kontakta läraren så löser vi det!</p>
    <p class="quote">You're faster than this. Don't think you are, know you are.</p>
    <p>Lycka till!</p>-->
</div>