<div class="container mt-2">
  <div class="row" *ngIf="packages">
    <div class="col-md-4"><img [src]="packages.imageUrl" /></div>
    <div class="col-md-8">
      <p class="packagesHeader">{{ packages.header }}</p>
      <div class="col" [innerHtml]="packages.description"></div>
      <!-- Används för att dölja text i visa mer/visa mindre -->
      <div *ngIf="showOrHideText">
        <p [innerHtml]="packages.extendedDescription"></p>
      </div>
      <div style="text-align: right">
        <a class="link" (click)="showText()">{{showOrHideText ? "visa mindre" : "visa mer"}}</a>
      </div>

      <div *ngIf="packages">
        <div style="text-align: right">
        <button class="btn btn-primary pickBtn" (click)="pickButtonClicked()">Välj {{ packages.header }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
